header
  .topbar
    display flex
    background-color asbestos
    padding 0 1em

    h2
      font-size 20px
      margin 0
      margin-right 15px

      color white
      padding 0
    nav
      display flex
      align-items stretch
      ul
        display flex
        list-style none
        li
          margin 0 2px
          display flex
          align-items center
          &.logout
            padding-left 15px
          a
            text-decoration none
            color white
            display block
            padding 10px 5px

      button.mui-flat-button
        min-width 36px
