.manage-page
  .product-updater
    border-bottom 1px solid conrete
    &:last-child
      border-bottom 0
    padding 20px 0
    h3
      font-size 20px
      color midnight-blue
      margin-bottom 0
      padding 0
      small
        font-size 0.7em
        color conrete

    .info
      font-size 16px
      display flex
      flex-wrap wrap
      div
        margin-right 15px
        &:last-child
          margin-right 0

    .controls
      margin-top 15px
      .mui-raised-button, button
        margin-right 10px

    .transaction-form
      margin-top 15px
      form
        padding 15px
        > label
          display block
          margin-bottom 5px
          margin-left 40px
          font-weight bold
