// font stack (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
georgia        = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace      = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")

u-green  = #7D7A40
u-orange = #BF824D
u-gray   = #928883

// default font stack
font-stack  = helvetica-neue
font-size   = 16
font-color  = #333
font-weight = 300 // light

// flat colours
turquoise     = #1abc9c
green-sea     = #16a085
emerald       = #2ecc71
nephritis     = #27ae60
peter-river   = #3498db
belize-hole   = #2980b9
amesthyst     = #9b59b6
wisteria      = #8e44ad
wet-asphalt   = #34495e
midnight-blue = #2c3e50
sun-flower    = #f1c40f
orange        = #f39c12
carrot        = #e67e22
pumpkin       = #d35400
alizarin      = #E74C3C
pomegranate   = #C0392B
clouds        = #ECF0F1
silver        = #BDC3C7
conrete       = #95A5A6
asbestos      = #7F8C8D

// colors (via http://clrs.cc - slightly modded)
navy    = #001F3F
blue    = #0074D9
aqua    = #7FDBFF
teal    = #39CCCC
olive   = #3D9970
green   = #2ECC40
lime    = #01FF70
yellow  = #FFDC00
red     = #D13F19
maroon  = #85144B
fuchsia = #F012BE
purple  = #B10DC9
white   = #FFFFFF
silver  = #DDDDDD
gray    = #AAAAAA
black   = #222222

// default color
default-color = blue

// text highlight color
highlight-color = blue

// ligatures
ligatures = false

// vertical rhythm
base-line-height            = 24px
default-rhythm-border-style = solid
relative-font-sizing        = true
round-to-nearest-half-line  = false
min-line-padding            = 2px

// custom image base path for roots mixins
img-path = ''
