@require '_settings'
@import '_*'

body
  font-family helvetica-neue
  font-weight 300
  font-size font-size

  &.web-app
    padding-top 20px

    .status-bar
      width 100%
      height 20px
      background asbestos
      position fixed
      top 0

  main
    .app
      padding 15px
